@media (max-width: 430px) and (max-height: 932px) {
  body {
    background-color: #02111b;
    font-family: Pontano Sans;
    color: white;
  }

  .card {
    background-color: #2a272e;
    margin-left: 20px;
    margin-top: 10%;
    width: 25rem;
    height: 15rem;
    color: white;
    border-color: #8ab9f1;
  }

  .candidatures {
    display: flex;
  }
  h1,
  h2,
  h3 {
    font-family: Fjalla One;
  }

  .category {
    margin-left: 90px;
  }

  .duration-statut {
    position: relative;
    padding-top: 20px;
    border-top: 2px solid transparent;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  .duration-statut::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #8ab9f1, transparent);
  }
  .duration {
    text-decoration: none;
  }

  .img-title {
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
  }

  .img-title img {
    margin-right: 20px;
  }

  .img-title h5 {
    margin-top: 10px;
  }
  .statut {
    color: white;
    background-color: #8ab9f1;
    opacity: 0.7;
    margin-left: 32px;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    text-decoration: none;
  }

  .city-category {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .city {
    color: white;
    background-color: #02111b;
    border-radius: 8px;
    padding: 2px 30px;
    margin: 5px;
  }
  .firmName {
    margin-left: 50px;
    color: #0d986a;
  }

  .bi-arrow-left-short {
    color: white;
  }

  .bi-plus-circle {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: white;
  }

  .see-all {
    display: flex;
    justify-content: end;
  }
}
